---
layout: normal
title: Projects
crumb: Projects 
summary: Projects that showcase various technologies and architectures that are of interest.
---
<amp-selector layout="container"> 
	<main class="flex pl2"> 
		<article class="www-components flex-auto col-12">	
			{% for post in site.posts limit:10 %}
			{% if post.isproject == true %}
				<section class="www-component-desc">
					 <div class="flex px1 pt1 col-11 left">
						<div class="blog-container p1 col-12">
							<p class="mb2 px1">
								Author: <a href="/team/{{ page.author }}.html">{{ post.author }}</a><br/>
								Date:  {{ post.date | date: '%B %d, %Y' }}
							</p>
							<p>
								<a href="{{ post.url }}">
									<span class="blog-title">{{post.title}}</span>
								</a>
							</p>
							{{ post.content }}
						</div>
					</div>
				</section>
			{% endif %}
			{% endfor %}
		</article>
	</main>
</amp-selector>
<br/> 