---
layout: page
title: Develop4
crumb: Home
css: main
js: main
summary: Develop4 provides consultancy services, working in partnership with government agencies, small businesses and multi-national corporations.
---

<amp-selector layout="container"> 
	<main class="flex pl2"> 
		<article class="www-components flex-auto col-12">			
			{% for post in site.posts limit: 20 %} 
			{% if post.isproject != true %}
			<div class="flex px1 pt1 col-12">
				<div class="flex px1 pt1 col-1 left">
				</div>
				<div class="blog-container p1 col-10">
					<div>
						{% assign sorted_items = post.tags | sort %}
						{% for item in sorted_items %}
							<a href="{{site.tag_page}}#tag-{{ item| slugify }}" class="blog-post-tag">{{ item }}</a>
						{% endfor %}
					</div> 
					<div>
						<span class="blog-created">on {{post.date | date: '%B %d, %Y'}}</span> / <span class="blog-created">by {{post.author}}</span>
					</div>
					<p>
						<a href="{{ post.url }}">
							<span class="blog-title">{{post.title}}</span>
						</a>
					</p>
					<p>{{post.summary}}</p>
				</div>
				<div class="flex px1 pt1 col-1 left">
				</div>
			</div>
			{% endif %} 
			{% endfor %} 
		</article>
	</main>
</amp-selector>
<br/>