---
layout: main
title: Develop4
crumb: Home
css: main
js: main
description: Develop4 provides consultancy services, and has worked in partnership with government agencies, small businesses and multi-national corporations.
---
	
	

{% for post in site.posts limit:10 %}
{% if post.isproject != true %}
    <amp-selector layout="container"> 
	<main class="flex pl2"> 
	<article class="www-components flex-auto col-12">
		<section class="www-component-desc">
			<p class="mb2 px1 left ">
				<a href="{{ post.url }}" class="">{{ post.blogtitle }}</a>
				[{{ post.description | strip_html | truncate: 200}}]
			</p>
			<br/>
			<p class="mb2 px1 right">
				Written by <a href="/team/{{ page.author }}.html">{{ post.author }}</a>, 
				on {{ post.date | date: '%B %d, %Y' }}
			</p>
		</section>
	</article>
	</main> 
	<main class="flex pl2"> 
	</main>
</amp-selector>

{% endif %}
{% endfor %}
