  
    <base target="_parent">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Documentation and reference library for {{ site.company }}: JavaScript, CSS, components, grid and more." /> 
    <meta name="author" content="{{ site.company }}" />
    <meta name="copyright" content="{{ site.copyright }}" />
    <link rel="alternate" type="application/rss+xml" title="{{site.name}}" href="http://{{site.host}}:{{site.port}}/atom.xml" />
    
	<link rel="stylesheet" href="/css/foundation5/normalize.css" />
    <link rel="stylesheet" href="/css/foundation5/foundation.css" />
    <link rel="stylesheet" href="/css/develop4.css" />
    
    <script src="/js/vendor/modernizr-2.8.3.js"></script>
 
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
  