
<!-- Footer -->

<footer class="row">
	<div class="large-12 columns footer-shadow">
		<div class="row white ">
			<hr>
			<div class="large-6 columns text-left">
				<p>
					<small>{{ site.copyright }}</small>
				</p>
			</div>
			<div class="large-6 columns text-right">
				<p>
					<small>Last Modified: {{ page.path | file_date | date: '%B %d, %Y' }}</small>
				</p>
			</div>
		</div>
	</div>
</footer>

<br />
<br />

<script>
  $(document).foundation();
</script>
<!--[if lt IE 9]>
	<script src="/js/vendor/rem.min.js" type="text/javascript"></script>
<![endif]-->      
           