---
layout: page
title: Tags
---
<amp-selector layout="container"> 
<main class="flex pl2"> 
{% assign sorted_items = site.tags | sort %}
<article class="www-components flex-auto col-12">		
	{% for item in sorted_items %}
    		<a href="#{{ item[0] | slugify }}" class="blog-post-tag">{{ item[0] }}</a>
    {% endfor %}
</article>
</main>
</amp-selector>
<hr/>
<amp-selector layout="container"> 
<main class="flex pl2"> 
<article class="www-components flex-auto col-12">	
    {% for item in sorted_items %}
    <h2 id="{{ item[0] | slugify }}">{{ item[0] }}</h2>
    <ul>
      {% for post in item[1] %}
      <li>
	      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
			<span class="bold">{{post.title}}</span>				
			<span class="blog-created"> - on {{post.date | date: '%B %d, %Y'}} / by {{post.author}}</span>
	      </a>
      </li>
      {% endfor %}
      </ul>
    {% endfor %}
</article>
</main>
</amp-selector>