<!doctype html>
<html class="no-js" lang="en">  
  <head>
    {% include html_head.html %}
  </head>
  <body> 
  	{% include page_branding.html %}
<div class="row">
  <div class="large-12 columns white">
  	{% include nav_bar.html %}
  </div>
</div>	<div class="row bar-shadow">
		
		<br>
		  <div class="large-12 columns">
		    <div class="row">
		      <!-- Thumbnails -->
		      <div class="large-3 small-6 columns">
		        <a href="/"><img src="/images/business/business-tech-home.jpg"></a>
		
		        <h6 class="panel">Home</h6>
		      </div>
		
		      <div class="large-3 small-6 columns">
		        <a href="/Projects"><img src="/images/business/business-tech-planning.jpg"></a>
		        <h6 class="panel">Projects</h6>
		      </div>
		      		
		      <div class="large-3 small-6 columns">
		        <a href="/Blogs"><img src="/images/business/business-tech-blogs.jpg"></a>
		
		        <h6 class="panel">Blogs</h6>
		      </div>

		
		      <div class="large-3 small-6 columns">
		        <a href="/Contact"><img src="/images/business/business-tech-contact.jpg"></a>
		        <h6 class="panel">Contacts</h6>
		      </div>
		      <!-- End Thumbnails -->
		    </div>
		  </div>
		</div>
	
	  <div class="large-12 columns">
	    <div class="row white">
	      <!-- Content -->
	
	      <div class="large-8 columns">
	        <div class="panel radius">
	          {{ content }}
	        </div>
	      </div>
	
	      <div class="large-4 columns hide-for-small">
	        <h4>Get In Touch!</h4>
	        <hr>
	        <a href="#">
	        <div class="panel radius callout" style="text-align: center">
	          <strong>Call To Action!</strong>
	        </div></a> <a href="#">
	        <div class="panel radius callout" style="text-align: center">
	          <strong>Call To Action!</strong>
	        </div></a>
	      </div><!-- End Content -->
	    </div>
	  </div>
	</div>

	{% include html_footer.html %}
  </body>
</html>