<!doctype html>
<html class="no-js" lang="en">  
  <head>
    {% include html_head.html %}
  </head>
  <body> 
  	{% include page_branding.html %}
	<div class="row">
	  <div class="large-12 columns">
	    <!-- Navigation -->
	
	    <nav class="top-bar" data-topbar>
	      <ul class="title-area">
	        <!-- Title Area -->
	        <li class="name">
          		<h1>&nbsp;</h1>
	        </li>
	        <li class="toggle-topbar menu-icon">
	          <a href="/"><span>menu</span></a>
	        </li>
	      </ul>
	
	      <section class="top-bar-section">
	            <ul class="left">
	                <li {% if page.url == '/index.html' %}class="selected"{% endif %}><a href="/">Home</a></li>
	                <li {% if page.url == '/Projects/index.html' %}class="selected"{% endif %}><a href="/Projects/">Projects</a></li>
	                <li {% if page.url == '/Blogs/index.html' %}class="selected"{% endif %}><a href="/Blogs/">Blogs</a></li>
                    <li {% if page.url == '/Contact/index.html' %}class="selected"{% endif %}><a href="/Contact/">Contact</a></li>
	            </ul>
	      </section>
	    </nav>
	    <!-- End Navigation -->
	  </div>
	</div>

	<div class="row bar-shadow">
		
		<br>
		  <div class="large-12 columns">
		    <div class="row">
		      <!-- Thumbnails -->
		
		      <div class="large-3 small-6 columns">
		        <img src="http://placehold.it/250x250&amp;text=Thumbnail">
		
		        <h6 class="panel">Description</h6>
		      </div>
		
		      <div class="large-3 small-6 columns">
		        <img src="http://placehold.it/250x250&amp;text=Thumbnail">
		
		        <h6 class="panel">Description</h6>
		      </div>
		
		      <div class="large-3 small-6 columns">
		        <img src="http://placehold.it/250x250&amp;text=Thumbnail">
		
		        <h6 class="panel">Description</h6>
		      </div>
		
		      <div class="large-3 small-6 columns">
		        <img src="http://placehold.it/250x250&amp;text=Thumbnail">
		
		        <h6 class="panel">Description</h6>
		      </div><!-- End Thumbnails -->
		    </div>
		  </div>
		</div>
	
	  <div class="large-12 columns">
	    <div class="row white">
	      <!-- Content -->
	
	      <div class="large-8 columns">
	        <div class="panel radius">
	          {{ content }}
	        </div>
	      </div>
	
	      <div class="large-4 columns hide-for-small">
	        <h4>Get In Touch!</h4>
	        <hr>
	        <a href="#">
	        <div class="panel radius callout" style="text-align: center">
	          <strong>Call To Action!</strong>
	        </div></a> <a href="#">
	        <div class="panel radius callout" style="text-align: center">
	          <strong>Call To Action!</strong>
	        </div></a>
	      </div><!-- End Content -->
	    </div>
	  </div>
	</div>

	{% include html_footer.html %}

  </body>
</html>