<!doctype html>
<html class="no-js" lang="en">
  <head>
	{% include html_head.html %}
  </head>
 <body>
	{% include page_branding.html %}
<div class="row">
  <div class="large-12 columns white">
  	{% include nav_bar.html %}
    <div class="breadcrumbs">
  		<span class="before">You are here: </span> 
  			<a href="/{{ page.title }}">{{ page.title }}</a> 
  			{% if page.blogtitle != null and page.blogtitle != '' %}
  				<a href="#">{{ page.blogtitle }}</a> 
  			{% endif %}
  	</div>
  </div>
</div>

  <!-- Main Page Content and Sidebar -->

  <div class="row bar-shadow">
	<br>
    <!-- Main Main Content -->
	<div class="large-9 columns" role="content">
		{{ content }}
	</div>
    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>

      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More &rarr;</a>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->
 
	{% include html_footer.html %}

  </body>
</html>