--- 
layout: blog
title: Blogs
---
<amp-selector layout="container"> 
<main class="flex pl2"> 
{{ content }}
</main>
<main class="flex pl2"> 
<aside class="www-components col-2 xs-hide sm-hide relative">.
</aside>
<article class="www-components flex-auto col-10">
	<section class="www-component-desc">
		<p class="mb2 px1 center">
			Written by <a href="/team/{{ page.author }}.html">{{ page.author }}</a> 
			on {{ page.date | date: '%B %d, %Y' }}
		</p>
	</section>
</article>
</main> 
</amp-selector>